.navbar{
    color: #fff;
    width: 100%;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3)  50%);
    transition: all 1s ease-in-out;

    &.scrolled{
        background-color: var(--main-color);
    }

   .container{

        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        
       .left{

            display: flex;
            align-items: center;
            
            span{
                margin-right: 20px;
                cursor: pointer;
            }

           img{
               height: 35px;
               margin-right: 40px;
               cursor: pointer;
           }
       }

       .right{

            display: flex;
            align-items: center;
        
            .icon{
                margin: 0px 20px;
                cursor: pointer;
            }

           img{
               width: 30px;
               height: 30px;
               border-radius: 5px;
               cursor: pointer;
           }

           .profile{

               .options{
                   display: none;
                   transition: all 1s ease-in-out;
                   background-color: var(--main-color);
                   border-radius: 5px; 
               }

               span{
                    padding: 10px;
                    cursor: pointer;
               }

               &:hover{

                .options{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                }
                 
               }
           }

       }
   }

}